// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
  border-left: 20px solid #DCDCDC;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.answer {
  background-color: #FFFFE2;
  padding-bottom: 10px;
  border-left: 20px solid #DCDCDC;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #2492F6;
}
